@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .scrollbar-hide{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar{
        display: none;
    }
}

 @layer utilities {
  @keyframes rotateBg {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .animate-rotateBg {
    animation: rotateBg 60s linear infinite;
  }
}